{% extends 'admin/change_form.html' %}

{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}

    <script src="{% static 'js/jquery/jquery-2.0.0.js' %}"></script>

    <script>
        $(function () {
            //$('#id_membresia_minima').attr('disabled', 'disabled');
            $('#id_paquete_de_bid').click(function (e) {
                if ($(this).is(':checked')) {
                    $('#id_cantidad_de_articulos').attr('disabled', 'disabled');
                    $('#id_pujas_automaticas').attr('disabled', 'disabled');
                } else {
                    $('#id_cantidad_de_articulos').removeAttr('disabled');
                    $('#id_pujas_automaticas').removeAttr('disabled');
                }
            });
        });
    </script>

{% endblock %}
