{% load staticfiles %}
<div id="content" class="clearfix">&nbsp;</div>

<div id="banners">
    <div id="banner0" class="banner column">
        <div>
            <a href="#">
                <img src="{% static "img/banner_promo/b1.jpg" %}" alt="test" title="test"/>
            </a>
        </div>
    </div>
    <div id="banner1" class="banner column">
        <div>
            <a href="#">
                <img src="{% static "img/banner_promo/b2.jpg" %}" alt="test" title="test"/>
            </a>
        </div>
    </div>
    <div id="banner2" class="banner column">
        <div>
            <a href="#">
                <img src="{% static "img/banner_promo/b3.jpg" %}" alt="test" title="test"/>
            </a>
        </div>
    </div>
</div><!-- << banners >> -->