{% load staticfiles %}

<!DOCTYPE html>
<html lang='es'>
<head>
    <title>WilliamBid</title>
    <meta charset=’utf-8’>

    {% block header %}
        {% include 'common/meta_header.html' %}
    {% endblock %}

    {% block extraheader %}

    {% endblock %}

</head>
<body>

<!--
Menu flotante and social networking
{ include 'common/social.html' %}
-->

<!-- top container-->
{% block top_container %}
    {% include 'common/top_container.html' %}
{% endblock %}

<!-- main content-->
{% block contenido %}

{% endblock %}

<!-- footer -->
{% block footer %}
    {% include 'common/footer.html' %}
{% endblock %}