<div id="menu_flotante" class="menu_normal" style="margin-top: 0px; ">
    <ul>
        <li class="icohome"><a href="#" title="Inicio"></a></li>
        <li class="icofacebook"><a href="#" title="Facebook" target="_blank"></a></li>
        <li class="icotwitter"><a href="#" title="Twitter" target="_blank"></a></li>
        <li class="icou2"><a href="#" title="Youtube" target="_blank"></a></li>
        <li class="iconoticias"><a href="#" title="Noticias"></a></li>
        <li class="icomail"><a href="#" title="Contáctenos"></a></li>

    </ul>

</div>