{% extends 'common/main_content.html' %}
{% load i18n %}

{% block encabezado_seccion_principal %}
    <div class="box-heading">
        <h2>{% trans "T&eacute;rminos y condiciones" %}</h2>
    </div>
{% endblock %}

{% block bloque_principal %}

    <style>
        p {
            text-align: justify;
        }
    </style>

    {% blocktrans %}

        <h3>1. DEFINITIONS</h3>
        <p>By placing bids at Williambid, you ("participant", "customer", "user", "bidder", "visitor", "auction winner")
            agree to enter an agreement with Williambid and accept the following terms and conditions, which are subject
            to
            revision by Williambid.</p>

        <h3>2. ELIGIBILITY</h3>
        <p>By accessing this site the Member exercises the right to act autonomously, and guarantees the right,
            authority
            and capacity to accept the present Agreement, agrees with all the Terms and Conditions and guarantees that
            he/she is aged 18 or over, or as legally required in the country of residence.
            Each single Member, by registering with Williambid, unconditionally accepts without any exception the
            following
            prohibited uses:
        <ul>
            <li>Open and use more than one Williambid account (“Account”) ; Use a false or misleading address or e-mail
                address to open or use an Account.
            </li>
            <li>Supply false or misleading information to any subject involved in the Williambid program.</li>
            <li>Use names and/or addresses and/or personal data of any type belonging to third parties.
                Williambid reserves the right to suspend and/or delete the Member account if the Member doesn not follow
                the
                rules above
            </li>
        </ul>
        </p>


        <h3>3. ACCESS CODES</h3>
        <p> Each Member must create a "Nickname" which will identify the Member on the Site in a unique and univocal
            way. In
            addition each Member must choose a "Password". Nickname and password allow Williambid Members to see, use
            and manage
            their Account.
            You are solely responsible for keeping your Nickname and Password confidential. In no case shall Williambid
            or their
            employees or associates be liable and/or have duties in relation to the use or improper use of your Nickname
            and/or
            Password.</p>

        <h3>4. SERVICE</h3>
        <p>Our service is limited to the choice of suppliers and products placed on sale. Our Service includes
            monitoring the regular execution of sales based on a blind lowest unique bid auction system, as per the
            Rules described
            herein, and
            monitoring that the product purchased is delivered to the buyer. In addition, the Williambid Service
            includes the
            management and updating of the Site and of its web and software parts, as well as the management of all the
            costs
            related to servers, employees, advertising and costs related to the management of a Company. You hereby
            agree and
            accept that the Service offered and for which you decide to buy Credits is reasonable. Members who wish to
            place
            bids accept and agree to buy Credits in order to receive these Services. IF, FOR WHATEVER REASON, YOU DO NOT
            AGREE
            WITH THE SERVICE WE OFFER PLEASE DO NOT REGISTER WITH THE SITE AND DO NOT USE THE SERVICES.</p>

        <h3>5. CREDITS</h3>
        <p>Access to the Site and registration are free. To receive the Services offered by Williambid you must buy
            Credits. In
            return for purchasing the Williambid Services you receive Credits, which you can use at your discretion to
            receive
            the Information Service for each bid you place. The amount of Credits deducted from your Credits Account
            purchased
            is shown on the site and may vary according to the product. By registering as Member and therefore wanting
            to
            receive the Williambid services, you agree and accept that any payment you make to Williambid is made
            exclusively to
            guarantee the continuity of the Service indicated here and that the Information Service offered by
            Williambid for
            each bid is an additional Service offered by Williambid for which no payment, but only the use of Credits,
            is
            required. The Member is solely responsible for any type of management of his/her Account.</p>

        <h3>6. BONUS OFFERS</h3>
        <p> When purchasing Credits, or in the case of promotions which may be presented from time to time, Williambid
            may, at
            its own discretion and without any obligation, give you a Bonus.
            A bonus amount can only be used to participate in the current auctions at Williambid, and can in no other
            way be
            used or reclaimed in the form of payment or compensation otherwise. All bonus offers are subject to the
            terms and
            conditions specified at the time of the offer. Williambid reserves the right to take appropriate action,
            which may
            include immediate account deactivation without refund, towards any users abusing bonus offers.</p>

        <h3>7. ACCOUNT BALANCE WITHDRAWALS</h3>
        <p>If a member wishes to have a certain balance, which has previously been deposited at Williambid, repaid in
            the form
            of balance on a bidding account, the member will be charged an administrative fee of $15. This fee covers
            handling,
            administrative and international transaction fees between Williambid and the member. The member also waives
            any
            claim to potential bonus amounts in the account that are linked to the amount being paid back, and these
            bonuses
            will be deducted from the account prior to the calculation of the administrative fee.</p>

        <h3>8. SERVICE CHANGES</h3>
        <p>Williambid reserves the right, at any time, to change or interrupt, temporarily or permanently, a part of the
            Service with or without notice. You agree and accept that We shall not be liable and shall not be subject to
            sanctions by you or third parties for any change, suspension or interruption of the Service and you agree
            and accept
            that you shall not have the right to receive any refund unless the Service is permanently closed and
            interrupted for
            a continuous period of 12 consecutive months.</p>

        <h3>9. HOW THE AUCTIONS WORK</h3>
        <p>With each bid placed the price of the item on which the user is bidding increases by the amount specified
            (usually
            between $0.01 and $0.10). A bid submitted by the user constitutes willingness of a user to enter into a
            binding
            contract with Williambid and in the event of a successful finishing of an auction, the claim to receive a
            purchase
            offer for the item of the auction under the conditions set out in the related auction. A contract to
            purchase the
            item does not come into effect until the auction is finished and the last bidder has followed all the steps
            as set
            forth in clause number 10.</p>

        <p>Each new bid resets the ‘remaining time’ for an auction up to, but not above, the displayed countdown reset
            value
            (usually, 10, 15 or 20 seconds). The one exception to this rule is when two BidButlers bid against one
            another. For
            more information, please consult the ‘Help’ section. The auction ends when the remaining time reaches zero.
            The user
            who was the last to bid then wins the auction. All other bids placed on the item expire and will not be
            credited
            back to the user's account or be eligible for a refund.</p>

        <p>Bids become valid when they are entered in the database and registered in Williambid’ system. Williambid are
            not
            responsible for disruptions in the user’s connection and errors that may occur as a result of this. This
            includes,
            but is not limited to, incorrect count-down of the remaining time, outdated information on bidders, and
            bids.
            Williambid reserve the right to pause all auctions, change the bidding time of on- going auctions and open
            closed
            auctions on suspicion of disruptions in operations.</p>

        <p>The value of the products is based on an average price offered by local suppliers. Williambid cannot
            guarantee that
            a corresponding product is available elsewhere at a lower or higher price.</p>

        <h3>10. AUCTION WINNER</h3>
        <h4>10.1 Auction Winner Notification</h4>
        <p>After an auction has ended, the last bidder (“winner”) must go to “My Account”. Here, information such as
            total
            price (including shipping costs) and payment options will be displayed. The user must pay the total price
            (end price
            plus shipping costs) for the win by following the steps indicated on that page or elsewhere on the website.
            If an
            auction win has not been confirmed and paid within 15 days of the auction end date, Williambid reserves the
            right to
            withdraw the offer to conclude a contract and the winner’s right to pay for and receive delivery of an item
            will be
            permanently revoked. All bids placed in that auction expire and are non-refundable. The user must pay the
            total
            price when confirming the win. After confirming the win and paying the amount due, the winner will receive a
            confirmation e-mail. The item will not be sent to the user until the total price has been paid to
            Williambid. A
            similar requirement for delivery is that all bids purchased and used by the user have been properly paid
            for. An
            invoice containing the auction price and shipping costs will be sent to the user by Williambid once delivery
            has
            been arranged.</p>

        <h4>10.2 Delivery</h4>
        <p>Delivery. Items are normally delivered 2 to 5 days after the invoice has been paid. In rare cases there may
            be
            delays from the product manufacturer that prevents Williambid from delivering the item to the winner within
            4 weeks,
            and in these cases Williambid pledges to notify the customer of the delay and explain the circumstances. All
            items
            are delivered by courier, to the address specified in the winner’s Williambid account.</p>

        <p>Some products may require your personal presence because they must be registered through public deed (e.g. a
            car).
            In this case all expenses sustained by the winner to reach the location of the product and/or any
            registration cost
            and/or any other cost not expressly mentioned on the site shall be paid by the Successful Bidder. After
            having
            purchased and paid for the Product the Winner can assign the property to a third party according to
            instructions
            which the Winner shall communicate to Williambid. Williambid shall not be liable or punishable in any way if
            the
            product cannot be delivered due to the fact that the address on the registration form is incomplete or
            incorrect.
            You are responsible for updating your details.</p>
        <p>Customs duty and taxes do not applied to the products shipped within the European Community (EU). If any
            customs
            duty or taxes are applied, they are at consignee's expense (not included in the transport charges).</p>

        <h4>10.3 Product Warranty</h4>
        <p>Items sold on Williambid typically come with the manufacturer’s warranty, which obviously vary by
            manufacturer.
            Although Williambid is happy to assist the customer in correcting any issues with defectious products, the
            company
            does not offer any explicit product warranties.</p>
        <p>In case there are any faults with the received item(s), please contact support@Williambid.com. The customer
            will
            then be given the option to return the goods for inspection. If the fault of the product is covered by the
            manufacturer’s warranty, Williambid will assist the customer in acquiring a brand new product from the
            manufacturer</p>

        <h4>10.4 Availability</h4>
        <p>Williambid will make its best efforts to select suppliers that can guarantee the availability of the product
            with
            the characteristics specified on the Site, without modifications, during the entire Bidding Period. If,
            during the
            Bidding period, Williambid is informed that said product with the characteristics presented is no longer
            available,
            Williambid shall indicate it on the Site or communicate it to the Winner, if the Bidding period is closed.
            If the
            product is not available after the Bidding Period, the Winner shall be offered a product of the same type of
            equal
            or higher value. In this case the Confirmation Period defined above becomes of thirty (30) days. If on the
            other
            hand the product is not available during the Bidding Period and Williambid is informed of this, then the
            product may
            be withdrawn from the auction and all the Credits used to place bids by Members for that product will be
            credited to
            their Accounts.</p>

        <h4>10.5 Product Refunds</h4>
        <p>An auction winner has the right to cancel the purchase within 14 days, provided that the product is unused
            and
            unopened.If the customer wishes to cancel the purchase of an auction item, the customer should contact
            support@Williambid.com
            and either send the item to us, or deliver them to a specific address. The customer will then be reimbursed
            for any
            amount paid for the item (the lowest unique bid), less shipping and handling.</p>

        <h4>10.6 Contact Information</h4>
        <p>When placing a bid, the customer agrees to provide a telephone number that Williambid can use to contact the
            customer at the time of the auction close in the case that the customer has placed the lowest unique bid.
            Aside from
            a telephone number, the customer may also provide Williambid with other contact details including, but not
            limited
            to,address and gender when opening an account. As stated under “Privacy”, Williambid adheres to applicable
            privacy
            laws and has policies in place that this information will not be shared with third parties without the
            member’s
            expressed consent.</p>

        <h4>10.7 Publication of auction winners</h4>
        <p>Williambid has the right to contact the winner after the end of an auction and publish information about the
            winner.
            All winners of items worth $ 3 000 or more are obligated to submit a picture and full name to Williambid for
            publication on Williambid. In order to provide its members and the public with transparency in regards to
            auction
            winners, Williambid has the right to forward auction winners’ contact information to relevant media,
            individuals,
            and Williambid’s certified accounting firm.</p>

        <h4>10.8 Limits of gains</h4>
        <p>Each User can win up to 8 auctions per month. If Williambid notices or has knowledge that one or more
            accounts are
            affiliated with only one User, the limit of 8 auctions per month will applied to all accounts. Accounts are
            considered as affiliated if they belong to members of a same family, if they use a same IP address, if they
            use a
            same delivery address, or if Williambid has the knowledge that these Users share their information or
            strategies of
            bids.</p>

        <h3>11. PRODUCT DESCRIPTION</h3>
        <p>We do our best to give Product description which are as accurate as possible. The information may contain
            printing
            errors or incorrect elements. Therefore, product information must not be considered as a Williambid
            declaration of
            the technical characteristics of a product. The published market values are basic estimates made by
            Williambid, and
            may be different due to the nature of commerce and ever-changing prices.</p>

        <h3> 12. DICLAIMER</h3>
        <p>Williambid, including their legal representatives, directors, agents, controlled companies and employees
            shall not
            be liable for incorrect or incomplete contents published on the site or concerning the Service whether these
            are
            generated by users, Members or any other instrument or program associated to the Service or used by the
            Service, or
            generated by the conduct of any user and/or Member of the Service both online and offline. Williambid shall
            not be
            liable for any errors, interruptions, extensions, defects, delays in the operations or in the transmission,
            lack of
            communication lines, thefts, destruction or unauthorised access to or alteration of user and or Member
            communications. Williambid shall not be liable for any technical malfunction or problem of any network or
            telephone
            line, online computer system, server or provider, computer equipment, software, lack of e-mail or traffic
            congestion
            of the Internet or any site or combination of these, including tort or damage to user and /or Member
            computers
            and/or computer of any person, that may arise from taking part or downloading material related to the
            Williambid
            Site and/or Service. Williambid shall not be liable, for whatever reason, for any loss or damage deriving
            from the
            use of the site or Service and/or any content published on the site or communicated to Williambid Members by
            anyone.
            Williambid and their employees cannot guarantee and do not promise that the use of the site and/or Service
            will lead
            to specific results.</p>

        <h3>13. LIMITATION OF LIABILITY</h3>
        <p>Excluding jurisdictions in which said provisions are limited (in that case We decline any responsibility to
            the
            extent permitted by law), Williambid shall not, for any reason, be liable towards members or third parties
            for any
            indirect, consequent, exemplary, accidental, special or punitive damage including the loss of profits that
            may arise
            from the use of the site or Service even if Williambid has been advised of the possibility of said damage.
            Notwithstanding anything to the contrary contained in this agreement Williambid’s liability to the member
            for any
            cause whatsoever, regardless of the form of action, will at all times be limited to the amount paid by the
            Member,
            expressed in Credits, and not yet used net of any Bonus Credits received.</p>

        <h3>14. TRADEMARK PROPERTY</h3>
        <p>Williambid trademarks and the Williambid logo, and Williambid website texts belong to us. All other
            trademarks
            belong to their respective owners. You cannot, for any reason, use the intellectual property of Williambid
            and/or
            reproduce texts, images or any other data published on the Williambid website.</p>

    {% endblocktrans %}

{% endblock %}