{% extends 'common_back_office/base_back_office_new.html' %}

{% load staticfiles i18n %}

{% block main_content %}

    <div class="widget">
        <div class="wrapper">
            <div class="controlB">
                <ul>
                    {% for package in paquetes %}
                        <li>
                            <a href="#" title="">
                                <img src="{% static "back_office/images/icons/dMoney.png" %}" alt="">
                                <span>{{ package.nombre }}</span>
                                <span>{% trans "Contiene:" %}{{ package.cantidad_de_bids }} bids</span>
                            </a>
                            <a href="#" title="" class="wButton orangewB m10">
                                <span>{% trans "Comprar" %}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}